<div class="form animated" id="id_password_container">
    <div id="passwordFormError" class="error is-warning"></div>
    <form name="hotspotPasswordForm" method="POST" action="{% url 'wifiportal:validateHotspotPassword' %}"
          onsubmit="return proceedWifiPassword()">
        <label for="hotspot_password" class="form_label">Enter WiFi password</label>
        <div class="control" style="margin-top: 0px;">
            <input name="hotspot_password" class="input" placeholder="Wifi Password" type="text" autocapitalize="none" />
            <p class="help is-warning" id="passwordFieldError" style="text-align: left"></p>
        </div>
        <div class="control">
            <button class="button is-danger is-rounded" type="submit" id="id_passwordSubmitButton">Proceed</button>
        </div>
    </form>
</div>
<script>
    function proceedWifiPassword(evt) {
        context = {
            hotspot_password: document.hotspotPasswordForm.hotspot_password && document.hotspotPasswordForm.hotspot_password.value,
            organization: '{{ organization.id }}',
            mac_address: '{{ mikrotik_input.mac }}',
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        formData = serializeObjectToUrl(context);

        DOMUtils.addClass(document.getElementById('id_passwordSubmitButton'), 'is-loading')
        postRequest(
            document.hotspotPasswordForm.action,
            formData,

            function onLoad(request) {
                if (request.status >= 200 && request.status < 400) {

                    nextFormPlease(
                        document.getElementById('id_password_container'),
                        document.getElementById('advertisement-image')
                    )
                } else {
                    var data = JSON.parse(request.responseText);
                    var errors = data.errors
                    document.getElementById('passwordFormError').innerHTML = errors.message || ''
                    document.getElementById('passwordFieldError').innerHTML = errors.password_error || ''
                    setTimeout(function () {
                        document.getElementById('passwordFormError').innerHTML = ''
                        document.getElementById('passwordFieldError').innerHTML = ''
                    }, 5000)
                }
                DOMUtils.removeClass(document.getElementById('id_passwordSubmitButton'), 'is-loading')
            },

            function onError() {
                alert("Network Connection Failed.")
                DOMUtils.removeClass(document.getElementById('id_passwordSubmitButton'), 'is-loading')
            }
        );
        return false
    }
</script>